<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new Item</h1>
            {% comment %} <form method="POST"></form>
            <input type="text", name="task">
            <input type="text", name="due_date">
            <input type="checkbox", name="is_completed">
            <select name="list"></select> {% endcomment %}
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>

        </div>
    </main>
</body>
</html>