<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<main>
    <div>

        
        <h1>{{todolist.name}}</h1>
        <p>
            <a href="{% url 'todo_list_update' todolist.id %}">Update</a>
        </p>
        <p>
            <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
        </p>
        

        <h2>Tasks</h2>

       <table>

            <th>Task</th>
            <th>Due Date</th>
            
        <tbody>
            
                {%for piece in todolist.items.all%}
                <tr>
                
                    <td><a href="{% url 'todo_item_update' piece.id%}">{{piece.task}}</a></td>
            
                    <td>{{piece.due_date}}</td>
                </tr>
                {%endfor%}

        </tbody>

       </table>
    </div>


</main>



<body>
    
</body>
</html>